body{
    margin: 0px;
    background-color: #8ADFFF;
    font-family: "Comic Sans MS", cursive, sans-serif;
    
}


/* CSS For Inputs */

#subtotal{
    display: inline;
}



/* CALCULATOR BEGINS */


/* CALCULATOR BOX */

#calculator{

    display: inline-block;
    margin: 1% 32.5% 1% 32.5%;
    height: 80vh;
    width: 35vw;
    background-color: #FFC68A;
    
}

/* Inner Box (The Thing that everything is inside of) */

#innerBox{
    
    float: center;
    margin-left: 3.5%;
    height: 75vh;
    width: 32.5vw;
    text-align: left;
    

}


/* PAYMENT CALCULATOR HEADING / TITLE */

#calcTitle{
    text-align: center;
    padding-top: 0.5%;
    font-size: 150%;
    

}
