body {
  margin: 0px;
  background-color: #b8f2e8;
  font-family: "Roboto";
  font-size: 1.1em;
}

#creature{
  height: 25px;
  padding: 4px 15px;
}

#paymentValue{
   /* margin */
}


/* CSS For Inputs */

input {
  border: none;
  border-bottom: black solid 4px;
  padding: 12px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #aed9e0;
}

/* LEFT SIDE */

#left-side {
  float: left;
  width: 45%;
  height: 100%;
  text-align: right;
  position: relative;
}

#left-side-content {
  display: inline-block;
}

/* SLIDER */
.payments {
  font-size: 26px;
  font-family: "Roboto";
  z-index: 99;
}

.slidecontainer {
  width: 25vw;
  font-family: "Roboto";
  z-index: 10;
  position: fixed;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #251ab9;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #251ab9;
  cursor: pointer;
}

/* SLIDER */

/* MIDDLE DIVIDER */

#middle-divider1 {
  float: left;
  align-content: center;
  height: 15vh;
  width: 1%;
  margin-left: 2%;
  margin-right: 2%;

  background-color: #aed9e0;
}

#middle-divider2 {
  float: left;
  align-content: center;
  height: 50vh;
  width: 1%;
  margin-left: 2%;
  margin-right: 2%;

  background-color: #aed9e0;
}

/* RIGHT SIDE */

#right-side {
  float: left;
  width: 45%;
}

#right-side-content {
  display: inline-block;
  font-family: "Roboto";

}

/* CALCULATOR BEGINS */

/* CALCULATOR BOX */

#calculator {
  display: inline-block;
  margin: 1% 32.5% 1% 32.5%;
  height: 80vh;
  width: 30vw;
  background-color: #aed9e0;
  border: #5e6472 solid 8px;
}

/* Inner Box (The Thing that everything is inside of) */

#innerBox {
  float: center;
  margin-left: 3.5%;
  height: 75vh;
  width: 27.5vw;
  text-align: left;
}

/* PAYMENT CALCULATOR HEADING / TITLE */

#calcTitle {
  text-align: center;
  padding-top: 0.5%;
  font-size: 150%;
}

#animal{
  font-size: 1.1em;
  font-size: 26px;
  font-weight: bold;
  
}

/* BOTTOM OF PAGE */

/* #bottomOfPage{

} */
